---
layout: page
title: Archives
menu: main
permalink: /archives
---

<div align="center">
<code>
You can find an archive of some of the places I've been linked to online <a href="/links">here</a>.
</code>
</div>

<ul>
  {% for post in site.posts %}
	
	<div>
    {% unless post.next %}
      <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}
	</div>

    <li>{{ post.date | date:"%b %d" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>